.venv/
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

data/cache/*
!data/cache/.gitkeep
data/raw/*
!data/raw/.gitkeep
*.parquet

.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/
mlruns/

.env
.DS_Store
Thumbs.db
logs/
mlflow.db
mlflow.db-journal
